* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: var(--primary-color);
    text-align: center;
}

/* Header */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 79px;
}

.header .body .nav ul {
    display: flex;
    gap: 39px;
    margin-left: 235px;
}

.header .nav a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav a.active {
    font-weight: 600;
}

.header .body .action {
    display: flex;
    gap: 24px;
    margin-left: 177px;
}

.header .body .action a {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 48px;
}

.header .body .action .sign-up-btn {
    width: 108px;
    line-height: 48px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    background-color: transparent;
    color: #1ebfc1;
    font-weight: 600;
}
