* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: var(--primary-color);
    text-align: center;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 25px;
}

.header .logo {
    width: 127px;
    height: 37px;
}

.header .body .nav ul {
    display: flex;
    gap: 39px;
    margin-left: 235px;
}

.header .nav a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav a:hover {
    border-bottom: 2px solid #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.header .nav a.active {
    font-weight: 600;
    border: none;
    text-shadow: none;
}

.header .body .action {
    display: flex;
    gap: 24px;
    margin-left: 177px;
}

.header .body .action a {
    display: inline-block;
    min-width: 80px;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 48px;
}

.header .body .action a:hover {
    text-shadow: 1px 0 0 #494949;
}

.header .body .action .sign-up-btn {
    max-width: 108px;
    line-height: 48px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 600;
}

.header .body .action .sign-up-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Hero */

.hero .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 79px;
}
/* Hero left */
.hero .content-block {
    width: 39%;
    height: 445px;
}

.hero .content-block .sub-title {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .content-block .title {
    color: #0d1111;
    font-size: 62px;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    margin-top: 18px;
    max-width: 458px;
}

.hero .content-block .desc {
    max-width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
    margin-top: 46px;
}

.hero .content-block .hero-btn {
    margin-top: 52px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .content-block .hero-btn:hover {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .watch-video {
    margin-left: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .watch-video .icon:hover {
    opacity: 0.6;
}

/* Hero right */
.hero .media-block {
    width: 49%;
    position: relative;
}

.hero .media-block .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .item {
    display: flex;
    align-items: center;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .item .label {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .item.item-1 {
    width: 157px;
    height: 75px;
    position: absolute;
    left: -40px;
    top: 149px;
    justify-content: center;
    gap: 16px;
}

.hero .book {
    position: relative;
    width: 36px;
    height: 40px;
}

.hero .book-2 {
    position: relative;
    bottom: 24px;
    right: -4px;
}

.hero .item.item-1 .label {
    width: 55px;
    line-height: normal;
}

.hero .item.item-2 {
    position: absolute;
    left: -65px;
    top: 453px;
    width: 124px;
    height: 132px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero .item.item-2 .label {
    margin-top: -10px;
}

.hero .item.item-3 {
    position: absolute;
    top: 500px;
    right: 45px;
    width: 207px;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.hero .avatar-group {
    display: flex;
}

.hero .avatar {
    width: 33px;
    height: 33px;
    margin-left: -7px;
    object-fit: cover;
    border-radius: 50%;
}

.hero .avatar:first-child {
    margin-left: 0;
}

.hero .avatar:last-child {
    color: #fff;
    background: #1ebfc1;
    line-height: 33px;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}

/* Features */
.features {
    padding: 130px 0 65px;
}

.features .body {
    width: 1024px;
}

.features .sub-title,
.courses .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .title,
.courses .title {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
    margin-top: 18px;
    max-width: 577px;
}

.features .desc,
.courses .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 590px;
    margin-top: 18px;
}

.features .info,
.courses .info {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.features .info .item,
.courses .info .item {
    width: 22%;
}

.features .info .label,
.courses .info .label {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .info .item-desc,
.courses .info .item-desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.7; /* 168.75% */
}

/* Courses */
.courses {
    padding-top: 65px;
}

.courses .course-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-check .cta {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses p.desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
    max-width: 525px;
}

.courses .info .item {
    position: relative;
    width: 30%;
}

.courses .info .item:hover {
    opacity: 0.4;
    cursor: pointer;
    transition: 0.1s;
}

.courses .info .img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.course-info {
    position: absolute;
    top: 322px;
    left: 17px;
    width: 325px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 25px;
    cursor: pointer;
}

.courses .info .label {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses .info .item-desc {
    color: #9da6a5;
    font-size: 1.4rem;
}

.courses .info strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses .item-stats ul {
    display: flex;
    gap: 26px;
}

.courses .item-stats .item-desc::before {
    position: relative;
    top: 15px;
    left: -16px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 50%;
}

/* Stats */
.stats {
    margin: 389px 0 265px;
}

.stats .body {
    display: flex;
    width: 862px;
    margin: 0px auto;
    justify-content: space-between;
}

.stats .item .number {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}

.stats .item .sub-title {
    color: #767e7e;
    font-size: 1.8rem;
    margin-top: 11px;
}

/* Feedback */
.feedback {
    padding-bottom: 65px;
}

.feedback .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback .feedback-block {
    width: 36%;
}

.feedback .feedback-block .content {
    width: 419px;
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5; /* 150% */
}

.feedback .feedback-block .student {
    color: #767e7e;
    font-size: 1.6rem;
    margin-top: 33px;
}

.feedback .feedback-block .student-name {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.feedback .arrow-btn {
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.feedback .arrow-btn .arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
}

.feedback .arrow-btn .arrow:hover {
    opacity: 0.8;
}

.feedback .arrow-btn .arrow:last-of-type {
    transform: rotate(180deg);
}

.feedback .arrow-btn .icon {
    width: 6px;
    height: 12px;
}

.feedback .avatar-block {
    position: relative;
    height: 481px;
    width: 58%;
}

.feedback .avatar-block .avatar-div {
    position: absolute;
    border-radius: 50%;
}

.feedback .avatar-block .avatar-div:nth-of-type(1) {
    background: #ff8282;
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
}

.feedback .avatar-block .avatar-div:nth-of-type(2) {
    background: #bf83ff;
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}

.feedback .avatar-block .avatar-div:nth-of-type(3) {
    background: #1ebfc1;
    left: 144px;
    width: 92px;
    height: 92px;
}

.feedback .avatar-block .avatar-div:nth-of-type(n + 4) {
    width: 78px;
    height: 78px;
}

.feedback .avatar-block .avatar-div:nth-of-type(4) {
    background: #ffc147;
    top: 258px;
    left: 0;
}

.feedback .avatar-block .avatar-div:nth-of-type(5) {
    background: #ff947a;
    left: 212px;
    bottom: 0;
}

.feedback .avatar-block .avatar-div:nth-of-type(6) {
    background: #b1dfdc;
    top: 374px;
    right: 32px;
}

/* Action */
.admit-action {
    margin-top: 65px;
    padding: 76px 0 88px;
    background: #def6f5;
}

.admit-action .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
}

.admit-action .action-left .title {
    max-width: 420px;
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.admit-action .action-left .desc {
    max-width: 397px;
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}

.admit-action .btn {
    background: #2ac9bf;
}
/* Footer */
.footer {
    padding: 130px 0 50px;
}

.footer .contact {
    display: flex;
    justify-content: space-between;
}

.footer .contact .logo {
    width: 127px;
    height: 37px;
}

.footer .contact .column ul {
    margin-top: 18px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer .contact .column:last-of-type ul {
    padding-top: 0;
}

.footer .contact .column .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .contact .column .link {
    color: #535353;
    font-size: 1.6rem;
}

.footer .column .social {
    margin-right: 13px;
}

.footer .column .social.facebook {
    margin-right: 19px;
}

.footer .copy-right {
    margin-top: 80px;
}

.footer .copy-right p {
    color: #b0b5b4;
    font-size: 1.8rem;
    text-align: center;
}
